@import '../include.scss';

section.header{
    .container{
        .row{
            background: linear-gradient(to left, $gd2,$gd1 );
            .name-login{
                padding: 10px 10px;
                font-weight: 500; 
                color: $white;
               
            }
        }
    }
}