@import '../include.scss';


#for-hid{
	overflow: hidden;
}
.active-fillter{
	background-color: rgb(92, 103, 197) !important;
} 
.silbling{
	outline: none !important; 
}
section {
	&.product {
		.btn-primary {
			background-color: $blue;
			border-color: #2e6da4;
		}

		margin-left:100px;
		margin-right: 100px;
		margin-top: 20px;

		@media(max-width: 414px) {
			margin-left: 15px;
			margin-right: 15px;
		}

		.text-welcome {
			margin-top: 35px;
			margin-bottom: 25px;

			@media (max-width: $sd-plus) {
				text-align: center;
			}

			h1 {
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		.category {

			@media (max-width: $sd-plus) {}

			margin-top: 20px;
			margin-bottom: 20px;

			.show-category {
				background-color: #22264a;
				outline: none;
				border-color: #2e6da4;
			}
		}

		.button-product {
			display: none;
			margin-bottom: 15px;

			* {
				margin-top: 10px;
			}
		}

		.wrap {
			margin-left: -10px;
			margin-right: -10px;

			@media(max-width: 414px) {
				margin-left: -10px;
				margin-right: -10px;
			}


			.equalHWrap {
				max-width: 100%;
				display: flex;
				flex-wrap: wrap;

				.equalHW {
					flex: 0 0 25%;
					max-width: 25%;
					width: 25%;

					@media(max-width: 414px) {
						width: 50%;
						max-width: 50% !important;

					}

					.box-all {
						.box-img {
							position: relative;
							padding-top: 100%;

							img {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}

						.property {
							.name_product {}

							.product_type {
								height: 50px;
								overflow: hidden;
							}

							.detail {}
						}

						.content {
							a {
								width: 100%;
							}
						}

					}
				}
			}
		}




		// .wrap {
		// 	width: 100%;

		// 	.container-product {
		// 		display: flex;
		// 		flex-wrap: wrap;
		// 		max-width: 100%;

		// 		.item {
		// 			flex: 25%;
		// 			max-width: 25%;

		// 			.box {

		// 				.thumb {
		// 					position: relative;
		// 					padding-top: 100%;
		// 					img {
		// 						position: absolute;
		// 						top: 0;
		// 						left: 0;
		// 						width: 100%;
		// 						height: 100%;
		// 						object-fit: cover;
		// 					}

		// 					.property {
		// 						.name_product {}

		// 						.product_type {}

		// 						.detail {}
		// 					}



		// 					.content {}
		// 				}
		// 			}
		// 		}
		// 	}
		// }



		// .wrap {
		// 	width: 100%;
		// 	overflow: hidden;

		// 	.container-product {
		// 		display: flex;

		// 		margin: 0 -5px;

		// 		@media(max-width: $lg) {
		// 			flex:100%;
		// 			flex-wrap: wrap;
		// 		}

		// 		@media(max-width: $md-laptop) {
		// 			flex:100%;
		// 			flex-wrap: wrap;
		// 		}

		// 		.item {

		// 			padding: 0 5px;
		// 			margin-bottom: 10px;

		// 			flex-wrap: flex;

		// 			@media(max-width: $lg) {
		// 				width: 20%;

		// 				max-width: 20%;
		// 			}

		// 			@media(max-width: $md-laptop) {
		// 				flex: 0 0 25%;
		// 				max-width: 25%;
		// 				width: 25%;
		// 			}

		// 			@media(max-width: $sd-plus) {
		// 				flex: 0 0 100%;
		// 				max-width: 100%;

		// 				width: 100%;
		// 			}

		// 			.box {
		// 				display: block;
		// 				width: 100%;
		// 				flex: 1; 

		// 				.thumb {
		// 					position: relative;
		// 					width: 100%;
		// 					padding-top: 100%;

		// 					img {
		// 						position: absolute;
		// 						top: 0;
		// 						left: 0;
		// 						width: 100%;
		// 						height: 100%;
		// 						object-fit: cover;
		// 					}
		// 				}

		// 				.content {}
		// 			}
		// 		}
		// 	}
		// }
	}


}
