@import '../include.scss';


#for-hid {
	overflow: hidden;
}

.active-fillter {
	background-color: $cmm !important;
	border-color: $cmm !important;
}

.silbling {
	outline: none !important;
	border-radius: 0;
}

section {
	&.product {

		.btn-primary {
			background-color: $blue;
			border-color: #2e6da4;
		}

		margin-left:80px;
		margin-right: 80px;
		margin-top: 20px;

		@media(max-width: 767px) {
			margin-left: 15px;
			margin-right: 15px;
		}

		@media(max-width: 414px) {
			margin-left: 15px;
			margin-right: 15px;
		}

		.text-welcome {
			margin-top: 35px;
			margin-bottom: 25px;
			text-align: center;

			@media (max-width: $sd-plus) {
				text-align: center;
			}

			h1 {
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		.category {
			text-align: center;

			@media (max-width: $sd-plus) {}

			margin-top: 20px;
			margin-bottom: 20px;

			.show-category {
				background-color: $gd1;
				outline: none;
				border-color: $gd1;
				border-radius: 0;
				width: 100%;
			}
		}

		.button-product {
			display: none;
			margin-bottom: 15px;

			* {
				margin-top: 10px;
			}
		}

		.wrap {
			margin-left: -10px;
			margin-right: -10px;

			@media(max-width: 414px) {
				margin-left: -10px;
				margin-right: -10px;
			}


			.equalHWrap {
				max-width: 100%;
				display: flex;
				flex-wrap: wrap;

				.equalHW {
					flex: 0 0 24.8%;
					max-width: 24.8%;
					width: 24.8%;



					@media(max-width: $md-ipad) {
						width: 32%;
						max-width: 32% !important;

					}

					@media(max-width: 767px) {
						width: 50%;
						max-width:50% !important;

					}

					@media(max-width: 414px) {
						width: 50%;
						max-width: 50% !important;
					}

					@media(max-width: $sd) {
						width: 100%;
						max-width: 100% !important;

					}



					.box-all {
						overflow: hidden !important;
						box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

						transition: all 0.3s ease-in;

						&:hover {
							.hover-img {

								opacity: 0.5 !important;
								transition: opacity 0.3s ease-out;

							}

							img {
								transform: scale(1.05);
								transition: all 0.3s ease-in;

							}

							transform: scale(0.97);
							transition: all 0.3s ease-in;



						}

						.box-img {
							position: relative;
							padding-top: 100%;
							overflow: hidden;

							.hover-img {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								opacity: 0;
								z-index: 55;
								transition: opacity 0.3s ease-in-out;
								background: linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%);
								// background-color: #202029;
							}

							img {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								object-fit: cover;

								transition: all 0.3s ease-in;
							}
						}

						.property {
							@media(min-width: $md-ipad) {
								padding-left: 10px;
								padding-bottom: 10px;
								padding-right: 10px;
								padding-top: 10px;

							}


							.name_product {
								@media(min-width: $md-laptop) {
									margin-top: 5px;

								}

								@media (max-width: $md) {
									padding-left: 5px;
								}

								@media (max-width: $sd-plus) {
									padding-left: 5px;
								}

								font-size: 18px;
								height: 25px;
								overflow: hidden;


							}

							.product_type {
								height: 30px;
								overflow: hidden;

								@media (max-width: $md) {
									padding-left: 5px;
								}

								@media (max-width: $sd-plus) {
									padding-left: 5px;
								}
							}

							.detail {
								height: 40px;
								overflow: hidden;

								@media (max-width: $md) {
									padding-left: 5px;
								}

								@media (max-width: $sd-plus) {
									display: none;
								}


							}

							.booking {
								@media (max-width: $md) {
									padding-left: 5px;
								}

								@media (max-width: $sd-plus) {
									font-size: 14px;
									padding-left: 5px;
								}

								span {
									@media (max-width: $sd-plus) {}
								}

							}
						}

						.content {
							a {
								width: 100%;
							}
						}

					}
				}
			}
		}








	}


}




.containersearch {
	text-align: center;
	margin: 0 auto;
	width: 100%;

	.field-input {

		input {
			text-align: left;
			border-radius: 6rem;
			border: 1px solid rgb(160, 160, 160);
			padding: .6rem 2rem .6rem 1rem;

			font-family: 'roboto';
			transition: .5s;

			@media (max-width: $sd-plus) {
				width: 80%;
			}

			&:focus {
				outline: none;
				border-color: #212121;
				transition: .5s;
			}
		}

		span:before {
			content: '';
			cursor: pointer;
			position: relative;
			font-family: 'fontawesome';
			top: 0;
			right: 20px;

			@media(min-width: $md-laptop) {
				right: 27px;
				font-size: 17px;
			}
		}
	}
}


.check-submit {
	color: #f03;
	margin-bottom: 5px;
	font-size: 19px;
}

#ModuleSearch {
	@media(min-width: $md-laptop) {
		width: 500px;
		height: 35px;
	}
}

.wrap-newmenu {
	position: relative;
	padding-top: 15px;

	@media (max-width: $md) {
		padding-top: 0;
		padding-bottom: 15px;
	}

	nav.xs-menu {
		position: absolute;
		width: 100%;
		z-index: 9;
	}

	.container {
		margin: 10px auto;
		display: table;
		max-width: 1140px;
		width: 100%;
	}

	.container:after,
	.container:before {
		content: "";
		clear: both;
	}

	nav.menu {
		background: $gd1;
		position: relative;

	}

	.menu>ul>li {
		list-style: none;
		display: inline-block;
		color: #fff;
		line-height: 45px;

	}

	.menu>ul li a,
	.xs-menu li a {
		text-decoration: none;
		color: #fff;
		display: block;
		padding: 0px 24px;

		@media (max-width: $md-ipad) {
			padding: 0px 15px;
		}
	}

	.menu>ul li a:hover {
		background: $cmm;
		color: #fff;
		transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
	}

	.active {
		background: $cmm !important;

	}

	.displaynone {
		display: none;
	}

	.xs-menu-cont {
		display: none;
	}

	.xs-menu-cont>a {
		background: none repeat scroll 0 0 $gd1;

		padding: 3px 6px;
		display: block;


	}

	.xs-menu-cont>a:hover {
		cursor: pointer;
	}

	.xs-menu li {
		color: #fff;
		padding: 14px 30px;
		border-bottom: 1px solid #ccc;
		background: $gd1;

	}

	.xs-menu a {
		text-decoration: none;
	}

	.mega-menu {
		background: none repeat scroll 0 0 #888;
		left: 0;
		margin-top: 3px;
		position: absolute;
		width: 100%;
		padding: 15px;
		display: none;
		transition-duration: 0.9s;

	}

	#menutoggle i {
		color: #fff;
		font-size: 33px;
		margin: 0;
		padding: 0;
	}


	/*--column--*/
	.mm-6column:after,
	.mm-6column:before,
	.mm-3column:after,
	.mm-3column:before {
		content: "";
		display: table;
		clear: both;


	}

	.mm-6column,
	.mm-3column {
		float: left;
		position: relative;
	}

	.mm-6column {
		width: 50%;
	}

	.mm-3column {
		width: 25%;
	}

	.responsive-img {
		display: block;
		max-width: 100%;

	}

	.left-images {
		margin-right: 25px;
	}

	.left-images,
	.left-categories-list {
		float: left;
	}

	.categories-list li {
		display: block;
		line-height: normal;
		margin: 0;
		padding: 5px 0;
	}

	.categories-list li :hover {
		background: inherit !important;
	}

	.left-images>p {
		background: none repeat scroll 0 0 #ff7f50;
		display: block;
		font-size: 18px;
		line-height: normal;
		margin: 0;
		padding: 5px 14px;
	}

	.categories-list span {
		font-size: 18px;
		padding-bottom: 5px;
		text-transform: uppercase;
	}

	.mm-view-more {
		background: none repeat scroll 0 0 #ff7f50;
		color: #fff;
		display: inline !important;
		line-height: normal;
		padding: 5px 8px !important;
		margin-top: 10px;
	}

	.display-on {
		display: block;
		transition-duration: 0.9s;
	}

	.drop-down>a:after {
		content: "\f103";
		color: #fff;
		font-family: FontAwesome;
		font-style: normal;
		margin-left: 5px;


	}

	/*MediaQuerys*/
	@media (max-width: 600px) {
		.menu {
			display: none;
		}

		.xs-menu li a {

			padding: 0px;
		}

		.xs-menu-cont {
			display: block;
		}
	}


	/*Animation--*/

	.animated {
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	@-webkit-keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.fadeIn {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
	}


	* {
		box-sizing: inherit;
		cursor: inherit;
		transition-duration: 0.2s;
		transition-property: none;
		transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}

	label.field {
		border-radius: 2px;
		color: #666;
		display: block;

	
		padding: 8px;
		opacity: 0;
		position: relative;
		transition-property: opacity;
		z-index: 1;

		span {
			color: inherit;
			display: block;
			font-size: 16px;
			height: 20px;
			line-height: 20px;
			left: 9px;
			pointer-events: none;
			position: absolute;
			top: 32px;
			transform: scale(1) translateY(0);
			transition-property: color, font-size, top;
			z-index: 1;

			&.required {
				&::after {
					color: inherit;
					content: "*";
					display: block;
					height: 20px;
					left: -20px;
					line-height: 20px;
					position: absolute;
					text-align: center;
					top: 0;
					width: 20px;
				}
			}

			.error & {
				color: #f02318;
			}
		}

		.psuedo_select {
			background: rgba(255, 255, 255, 0);
			position: relative;
			border-color: #666;
			border-style: solid;
			border-width: 0 0 2px 0;
			color: #666;
			cursor: pointer;
			font-size: 20px;
			height: 24px;
			line-height: 24px;
			margin: 24px 32px 0 0;
	
			padding-top: 24px;
			outline: 0;
			z-index: 1;
			@media (max-width: $sd-plus) {
				margin-right: 0px !important;

			}
			&::after {
				background: url("data:image/svg+xml;utf8,<svg fill='#666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"),
					no-repeat;
				content: "";
				height: 24px;
				width: 24px;
				position: absolute;
				top: 0;
				right: 0;
				transition-property: background;
			}

			.selected {
				height: 24px;
				left: 1px;
				line-height: 24px;
				opacity: 0;
				position: absolute;
				top: 0;
				transform: translateY(24px);
				transition-property: opacity, transform;
				will-change: transform;
			}

			ul {
				background: #fff;
				box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
				display: block;
				height: 0;
				list-style: none;
				margin-top: 2px;
				opacity: 0;
				overflow: hidden;
				padding: 0 1px;
				pointer-events: none;
				transition-property: height, opacity;
				width: 100%;
				z-index: 2;

				li {
					height: 32px;
					padding: 8px 4px;
				}
			}
		}

		.deselect {
			height: 100vh;
			left: 0;
			position: fixed;
			top: 0;
			width: 100vw;
			z-index: -1;
		}

		&.focused {
			color: #007bed;

			.psuedo_select {
				border-color: #007bed;

				&::after {
					background: url("data:image/svg+xml;utf8,<svg fill='#007BED' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"),
						no-repeat;
				}

				ul {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}


}

.xs-menu-cont {

	@media(max-width: 767px) {
	display: none !important;

	}
	@media (max-width: $sd-plus) {
		display: none !important;
	}
}

.cmm-respon-menu {
	cursor: pointer;
	@media (max-width: 1023px) {
		display: none !important;
	}
	@media (max-width: $md) {
		display: none !important;
	}
}

#category_label {
	@media (min-width: $md-ipad) {
		display: none !important;
	}
}
