//color
$white: #fff;
$light-grey :#f1f1f1;
$tan: #a4843e;
$golden: #c19c4a;
$fog:#d0d2d3;
$dark-red:#461200;
$grey : #2a2d2d;
$black: #000;
$kmutt:#FA4616;
$soft-grey:#58595b;
$softest-grey:#a8a8a8;
$soft-fog:#e6e7e8;
$kmutt-opacity:rgba(250, 71, 22, 0.507);
$blue: #202029;

// $gd1 :#ff8e5c;
// $gd2:#ff334f;
// $gd3:#FF4E50;
// $gd4:#F9D423;

$gd1 :#202029;
$gd2:#192444; 
$gd3:#00b199;
$gd4:#00da91;
//font
$Quark : 'Quark';
$Quark-bold : 'Quark bold';
$Open-sans: 'Open Sans';
$Open-sans-bold: 'Open Sans bold';
$TH-Sarabun : 'TH Sarabun New';

//promt
$Prompt-BoldItalic : 'Prompt-BoldItalic';
$Prompt-LightItalic :'Prompt-LightItalic';
$Prompt-Regular:'Prompt-Regular';
$Prompt-Thin: 'Prompt-Thin';
$Prompt-ThinItalic : 'Prompt-ThinItalic';
$Prompt-Medium : 'Prompt-Medium';
$Prompt-Bold : 'Prompt-Bold';
$Prompt-Light : 'Prompt-Light';
$Prompt-ExtraBoldItalic : 'Prompt-ExtraBoldItalic';
$Prompt-Black : 'Prompt-Black';
$Prompt-ExtraBold : 'Prompt-ExtraBold';
$Prompt-MediumItalic : 'Prompt-MediumItalic';
$Prompt-SemiBold : 'Prompt-SemiBold';
$Prompt-ExtraLightItalic : 'Prompt-ExtraLightItalic';
$Prompt-ExtraLight : 'Prompt-ExtraLight';
$Prompt-BlackItalic : 'Prompt-BlackItalic';
$Promp-ThinItalict : 'Promp-ThinItalict';
$Prompt-SemiBoldItalic : 'Prompt-SemiBoldItalic';
$Prompt-italic : 'Prompt-italic';






//line-height
$line-heightDisplay: 1.5em;
$line-heightBase: 1em;
$line-heightSmall: 1.5em;

//display breakpoint
$md: 768px;
$sd-plus:414px;
$sd:320px;
$md-laptop: 1366px;
$md-ipad: 1024px;
$lg: 1920px;
